<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Emi ni Dashboardi</h1>
    <% if (gender==="Male" ) { %>
        <h1>This is the gender that ate fruit</h1>
        <% } else{ %>
            <h1>This is the gender that gave the fruit</h1>
            <%}%>
</body>

</html>